@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.max-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    min-height: 100vh;
}
.lateral-container {
    width: 275px;
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2em;
}
.logo {
    padding: .5em 1em;
}
.menu-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu {
    display: flex;
    flex-direction: column;
    padding: 0 1em;
}
.menu-item {
    text-decoration: none;
}
.menu-item:hover .menu-item-content{
    background-color: #ffffff1d;
}
.menu-item-content {
    width: fit-content;
    color: white;
    display: flex;
    align-items: center;
    gap: 1em;
    padding: .5em 1em;
    border-radius: 2em;
    transition: all .3s;
}
.menu-item-content-text {
    font-size: 1.2em;
    /*font-weight: bold;*/
}
.perfil-button {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    border-radius: 3em;
    transition: all .3s;
    background-color: transparent;
    color: white;
}
.perfil-button:hover {
    background-color: #ffffff1d;
}
.perfil-user {
    display: flex;
    gap: .4em;
    text-align: left;
}
.perfil-area {
    display: flex;
    flex-direction: column;
    gap: .1em;
}
.perfil-nickname {
    font-weight: bold;
    font-size: 1.1em;
}
.perfil-username {
    color: #858585;
}
.principal-container {
    width: 600px;
    border-right: 1px solid #ffffff2d;
    border-left: 1px solid #ffffff2d;
}
.topo-principal-container {
    height: 105px;
    border-bottom: 1px solid #ffffff2d;
    position: sticky;
    background-color: #0000004d;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.topo-titulo {
    padding: 1.5em 1em .5em 1em;
}
.topo-titulo-text {
    font-size: 1.2em;
}
.abas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    height: 100%;
}
.opcao-abas {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    transition: all .3s;
}
.opcao-abas:hover {
    background-color: #ffffff1d;
}
.opcao-abas-text {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /*font-weight: bold;*/
}
.criar-post {
    height: 120px;
    padding: .5em 1em;
    border-bottom: 1px solid #ffffff2d;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.post-text-area, .postar-area {
    flex-grow: 1;
}
.area-img {
    width: 36px;
    height: 36px;
}
.img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}
.post-text-area .img {
    width: 42px;
    height: 42px;
}
.post-text-area {
    display: flex;
    align-items: center;
    gap: 1em;
}
#post-text {
    border: none;
    outline: none;
    width: 100%;
    background-color: transparent;
    color: white;
    font-size: 1.3em;
}
.postar-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.postar-button {
    cursor: pointer;
    background-color: #22a6ff;
    color: white;
    font-size: 1em;
    font-weight: bold;
    border: none;
    outline: none;
    padding: .7em 1em;
    border-radius: 4em;
    transition: all .2s;
}
.postar-button:hover {
    background-color: #1A8CD8;
}
.menu .postar-button {
    margin-top: .8em;
    padding: 1.1em;
}

.right-container {
    width: 410px;
    padding: 1em;
}
.right-container * {
    margin: 1em 0;
}